In [103]:
import pandas as pd

In [104]:
df=pd.read_csv('crop_production.csv')

In [105]:
from sklearn import preprocessing

In [106]:
df.head()

        Season                 Crop    Area  Production
0  Kharif                  Arecanut  1254.0      2000.0
1  Kharif       Other Kharif pulses     2.0         1.0
2  Kharif                      Rice   102.0       321.0
3  Whole Year                Banana   176.0       641.0
4  Whole Year             Cashewnut   720.0       165.0

In [107]:
X = df[['Area','Production','Season']]
Y = df['Crop']

In [108]:
from sklearn.preprocessing import LabelEncoder

In [109]:
le = LabelEncoder()

In [110]:
numerics = ['int64','float64']
cat = ['object']

dataset_num = df.select_dtypes(include = numerics)  #differentiating the numneric data with character type data
dataset_cat = df.select_dtypes(include = cat)

In [111]:
dataset_cat = dataset_cat.fillna('')

In [112]:
le = LabelEncoder()

In [113]:
dataset_cat = dataset_cat.apply(le.fit_transform) #converting data in numbers

In [114]:
dataset_cat.head()

   Season  Crop
0       1     2
1       1    74
2       1    95
3       4     7
4       4    22

In [115]:
dataset_cat.head()

   Season  Crop
0       1     2
1       1    74
2       1    95
3       4     7
4       4    22

In [116]:
dataset_num = dataset_num.fillna(dataset_num.mean())  """filling our missing data with the mean of rest of the values"""

In [117]:
X = dataset_num[['Area','Production']]
Y = dataset_cat['Crop']

            Area   Production
0         1254.0      2000.00
1            2.0         1.00
2          102.0       321.00
3          176.0       641.00
4          720.0       165.00
5        18168.0  65100000.00
6           36.0       100.00
7            1.0         2.00
8            5.0        15.00
9           40.0       169.00
10        1254.0      2061.00
11           2.0         1.00
12          83.0       300.00
13         719.0       192.00
14       18190.0  64430000.00
15          46.0       100.00
16           1.0         1.00
17          11.0        33.00
18         189.2       510.84
19        1258.0      2083.00
20         213.0      1278.00
21          63.0        13.50
22         719.0       208.00
23       18240.0  67490000.00
24         413.0        28.80
25          47.3       133.00
26           5.0        40.00
27          52.0        90.17
28        1261.0      1525.00
29         266.0      1763.00
...          ...          ...
246061      49.0        19.00
246062     159.0      2065.00
246063     181.0       100.00
246064      16.0        14.00
246065     204.0        74.00
246066      79.0        39.00
246067     171.0       727.00
246068      18.0         7.00
246069      46.0        42.00
246070   11493.0      3287.00
246071     671.0       723.00
246072     198.0       203.00
246073      30.0        25.00
246074     660.0       332.00
246075     146.0       126.00
246076     160.0        51.00
246077      31.0        19.00
246078      64.0        40.00
246079      12.0        12.00
246080     477.0      9995.00
246081    1885.0      1508.00
246082      54.0        37.00
246083     220.0       113.00
246084    1622.0      3663.00
246085     325.0      2039.00
246086     306.0       801.00
246087     627.0       463.00
246088     324.0     16250.00
246089  279151.0    597899.00
246090     175.0        88.00

[246091 rows x 2 columns]

In [118]:
X=preprocessing.scale(X)
from sklearn import cross_validation
x_train,x_test,y_train,y_test = cross_validation.train_test_split(X,Y,test_size = 0.2, random_state =0 )
def prediction(area,production,season):
    pred = model2.predict([[area,production]])
    pred=abs(pred[0])
    pred=pred % 124
    pred = [int(abs(pred.round()))]
    return pred

[[-0.20831617 -0.03436779]
 [-0.23559072 -0.03439113]
 [-0.2350959  -0.03438953]
 ...
 [-0.22335874 -0.03439018]
 [-0.23739187 -0.03439408]
 [-0.18882022 -0.03434241]]

In [119]:
from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier(random_state=0)
model2.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [123]:
area=int(input())
production=int(input())
season = input()

100
200
kharif

In [124]:
pred = prediction(area,production,season)
le.classes_[int(round(pred[0]))]

'Coconut '